<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div class="sidebar-menu" id="sidebar-menu">
      <ul>
        <li class="menu-title">Dashboard</li>



        <ng-container *ngIf="(authService.getRole() | async) === Role.LAB">


          <li>
            <a href="patientprofile"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
          </li>

          <li class="menu-title">Editor</li>
          <li>
            <a href="tests"><i class="fa fa-calendar-check-o"></i>
              <span>Test Lists</span></a>
          </li>

          <li class="submenu">
            <a href="#"><i class="fa fa-user-md"></i> <span> Medical Report </span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
              <a [routerLink]="['reports']"><i class="fa fa-list-ul"></i> <span> List of Report </span></a>
              <a [routerLink]="['reports/create']"><i class="fa fa-user-md"></i> <span> Create Report </span></a>
            </ul>
          </li>
          <li>
            <a href="/appointment-list"><i class="fa fa-calendar-check-o"></i>
              <span>Appointment List</span></a>
          </li>


          <li class="menu-title">Settings</li>

          <li>
            <a href="activities"><i class="fa fa-bell-o"></i> <span>Activities</span></a>
          </li>
          <li>
            <a href="changepassword"><i class="fa fa-cog"></i> <span>Settings</span></a>
          </li>
          <li>
            <a href="salary"><i class="fa fa-money"></i> <span> Salary Settings</span></a>
          </li>
          <li>
            <a href="leave"><i class="fa fa-cogs"></i> <span> Leave Type</span></a>
          </li>

        </ng-container>








        <ng-container *ngIf="(authService.getRole() | async) === Role.DOCTOR">


          <li>
            <a href="patientprofile"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
          </li>

          <li class="menu-title">Editor</li>
          <li>
            <a href="doappointment"><i class="fa fa-calendar-check-o"></i>
              <span>Appointment</span></a>
          </li>
          <li class="submenu">
            <a href="#"><i class="fa fa-user-md"></i> <span> Prescription </span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
              <a [routerLink]="['prescriptions/create']"><i class="fa fa-list-ul"></i> <span> Create Prescription </span></a>
              <a [routerLink]="['prescriptions']"><i class="fa fa-user-md"></i> <span> Prescription List </span></a>
            </ul>
          </li>
          <li>
            <a href="medicine-bill-list"><i class="fa fa-calendar-check-o"></i>
              <span> Medicines List</span></a>
          </li>
          
          <li>
            <a [routerLink]="['/departmentR']"><i class="fa fa-hospital-o"></i> <span> Departments </span></a>
          </li>


          <li class="menu-title">Settings</li>

          <li>
            <a href="activities"><i class="fa fa-bell-o"></i> <span>Activities</span></a>
          </li>
          <li>
            <a href="changepassword"><i class="fa fa-cog"></i> <span>Settings</span></a>
          </li>
          <li>
            <a href="salary"><i class="fa fa-money"></i> <span> Salary Settings</span></a>
          </li>
          <li>
            <a href="leave"><i class="fa fa-cogs"></i> <span> Leave Type</span></a>
          </li>

        </ng-container>









        <ng-container *ngIf="(authService.getRole() | async) === Role.NURSE">

          <li>
            <a href="nurseprofile"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
          </li>
          <li>
            <a href="/appointment-list"><i class="fa fa-calendar-check-o"></i>
              <span>Appointment</span></a>
          </li>


          <li>
            <a href="payroll"><i class="fa fa-book"></i> <span> Payroll </span></a>
          </li>
          <li>
            <a href="activities"><i class="fa fa-bell-o"></i> <span>Activities</span></a>
          </li>
          <li>
            <a href="changepassword"><i class="fa fa-cog"></i> <span>Settings</span></a>
          </li>
          <li>
            <a href="salary"><i class="fa fa-money"></i> <span> Salary Settings</span></a>
          </li>
          <li>
            <a href="leave"><i class="fa fa-cogs"></i> <span> Leave Type</span></a>
          </li>

        </ng-container>










        <ng-container *ngIf="(authService.getRole() | async) === Role.PATIENT">

          <li>
            <a href="patientprofile"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
          </li>

          <li class="menu-title">Editor</li>

          <li>
            <a href="doappointment"><i class="fa fa-calendar-check-o"></i>
              <span>Appointment</span></a>
          </li>
          <li>
            <a><i class="fa fa-calendar-check-o"></i>
              <span>Prescription</span></a>
          </li>
          <li>
            <a><i class="fa fa-calendar-check-o"></i>
              <span>Reports</span></a>
          </li>

          <li class="menu-title">Settings</li>


          <li>
            <a href="activities"><i class="fa fa-bell-o"></i> <span>Activities</span></a>
          </li>
          <li>
            <a href="changepassword"><i class="fa fa-cog"></i> <span>Change Password</span></a>
          </li>

        </ng-container>










        <!-- Done -->
        <ng-container *ngIf="(authService.getRole() | async) === Role.RECEPTIONIST">

          <li>
            <a href="receptionist-profile"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
          </li>


          <li class="menu-title">Editor</li>

          <li>
            <a [routerLink]="['/doappointment']"><i class="fa fa-user-md"></i> <span> Create Appointment </span></a>
          </li>

          <li>
            <a [routerLink]="['/appointment-list']"><i class="fa fa-list-ul"></i> <span> Assign Appointment</span></a>
          </li>

          <li>
            <a [routerLink]="['/departmentR']"><i class="fa fa-hospital-o"></i> <span> Departments </span></a>
          </li>

          <li>
            <a><i class="fa fa-user-md"></i> <span> Doctors </span></a>
          </li>

          <li class="menu-title">Settings</li>

          <li>
            <a href="activities"><i class="fa fa-bell-o"></i> <span>Activities</span></a>
          </li>
          <li>
            <a href="changepassword"><i class="fa fa-cog"></i> <span>Settings</span></a>
          </li>
          <li>
            <a href="salary"><i class="fa fa-money"></i> <span> Salary Settings</span></a>
          </li>
          <li>
            <a href="leave"><i class="fa fa-cogs"></i> <span> Leave Type</span></a>
          </li>

        </ng-container>







        <!-- Done -->
        <ng-container *ngIf="(authService.getRole() | async) === Role.PHARMACIST">

          <li>
            <a href="#"><i class="fa fa-dashboard"></i> <span>Profile</span></a>
          </li>


          <li class="menu-title">Editor</li>

          <li>
            <a href="medicine-bill"><i class="fa fa-user-md"></i> <span>Create Medicine Bill</span></a>
          </li>

          <li class="submenu">
            <a href="#"><i class="fa fa-user-md"></i> <span> Medicines </span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
              <a [routerLink]="['medicines/add']"><i class="fa fa-list-ul"></i> <span> Add Medicine </span></a>
              <a [routerLink]="['medicines']"><i class="fa fa-user-md"></i> <span> List of Medicine </span></a>
            </ul>
          </li>

          <li class="submenu">
            <a href="#"><i class="fa fa-calendar-check-o"></i> <span> Medicine Bills </span> <span
                class="menu-arrow"></span></a>
            <ul style="display: none;">
              <a [routerLink]="['medicine-bill']"><i class="fa fa-user-md"></i> <span>Create Bill </span></a>
              <a [routerLink]="['medicine-bill-list']"><i class="fa fa-list-ul"></i> <span> List of Bills</span></a>
            </ul>
          </li>


          <li class="menu-title">Settings</li>

          <li>
            <a href="activities"><i class="fa fa-bell-o"></i> <span>Activities</span></a>
          </li>
          <li>
            <a href="salary"><i class="fa fa-money"></i> <span> Salary</span></a>
          </li>
          <li>
            <a href="leave"><i class="fa fa-cogs"></i> <span> Leave Type</span></a>
          </li>
          <li>
            <a href="changepassword"><i class="fa fa-cog"></i> <span>Change Password</span></a>
          </li>

        </ng-container>









        <!-- Done -->
        <ng-container *ngIf="(authService.getRole() | async) === Role.ADMIN">


          <li>
            <a href="adminprofile"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
          </li>


          <li class="menu-title">Editor</li>


          <li class="submenu">
            <a href="#"><i class="fa fa-user-md"></i> <span> User </span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
              <a [routerLink]="['/user-add']"><i class="fa fa-user-md"></i> <span>New User</span></a>
              <a [routerLink]="['/user-list']"><i class="fa fa-list-ul"></i> <span> User List</span></a>
            </ul>
          </li>

          <li>
            <a href="manufacturers"><i class="fa fa-hospital-o"></i> <span>Manufacturers</span></a>
          </li>

          <li>
            <a href="departments"><i class="fa fa-hospital-o"></i> <span>Departments</span></a>
          </li>

          <li class="submenu">
            <a href="#"><i class="fa fa-user-md"></i> <span> Appointment </span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
              <a [routerLink]="['/doappointment']"><i class="fa fa-user-md"></i> <span>Create Appointment </span></a>
              <a [routerLink]="['/appointment-list']"><i class="fa fa-list-ul"></i> <span> Assign Appointment</span></a>
            </ul>
          </li>



          <li class="menu-title">Settings</li>

          <li>
            <a href="payroll"><i class="fa fa-book"></i> <span> Payroll </span></a>
          </li>
          <li>
            <a href="activities"><i class="fa fa-bell-o"></i> <span>Activities</span></a>
          </li>
          <li>
            <a href="changepassword"><i class="fa fa-cog"></i> <span>Settings</span></a>
          </li>
          <li>
            <a href="salary"><i class="fa fa-money"></i> <span> Salary</span></a>
          </li>
          <li>
            <a href="leave"><i class="fa fa-cogs"></i> <span> Leave Type</span></a>
          </li>


        </ng-container>










        <!-- <ng-container
            *ngIf="authService.getRole() === ['admin', 'user', 'doctor', 'nurse', 'receptionist']">

            <li>
                <a href="payroll"><i class="fa fa-book"></i> <span> Payroll </span></a>
            </li>
            <li>
                <a href="activities"><i class="fa fa-bell-o"></i> <span>Activities</span></a>
            </li>
            <li>
                <a href="changepassword"><i class="fa fa-cog"></i> <span>Settings</span></a>
            </li>
            <li>
                <a href="salary"><i class="fa fa-money"></i> <span> Salary Settings</span></a>
            </li>
            <li>
                <a href="leave"><i class="fa fa-cogs"></i> <span> Leave Type</span></a>
            </li>

        </ng-container> -->


        <!-- // Need Leater -->
        <!-- <li class="submenu">
          <a href="#"><i class="fa fa-wheelchair"></i> <span> Nurse </span> <span
            class="menu-arrow"></span></a>
          <ul style="display: none;">
            <a href="#"><i class="fa fa-wheelchair"></i> <span>Nurse Crud</span></a>
            <a href="#"><i class="fa fa-list-ul"></i> <span> Nurse List</span></a>
          </ul>
        </li>
        <li class="submenu">
          <a href="#"><i class="fa fa-calendar-check-o"></i> <span> Receptionist </span> <span
            class="menu-arrow"></span></a>
          <ul style="display: none;">
            <a href="#"><i class="fa fa-calendar-check-o"></i> <span>Receptionist
                                      Crud</span></a>
            <a href="#"><i class="fa fa-list-ul"></i> <span> Receptionist
                                      List</span></a>
          </ul>
        </li>

        <li class="submenu">
          <a href="#"><i class="fa fa-address-card-o"></i> <span>Patient</span> <span
            class="menu-arrow"></span></a>
          <ul style="display: none;">
            <a href="#"><i class="fa fa-calendar-check-o"></i> <span>Patient
                                      Crud</span></a>
            <a href="#"><i class="fa fa-list-ul"></i> <span> Patient List</span></a>
          </ul>
        </li> -->

      </ul>
    </div>
  </div>
</div>